.loginWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.loginForm {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}

.tableStyle {
  width: 100%;
  height: 200px;
  font-size: 30px;
}

.tableStyle input {
  margin-top: 5px;
  height: 100%;
  border: 1px solid black;
  font-size: 30px;
  padding: 0px;
  width: 300px;
}

.submitButton {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  padding: 0px;
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  color: white;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
  cursor: pointer;
}

.grid {
  width: 210px;
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  grid-template-rows: repeat(3, 0fr);
  margin-left: 45%;
  overflow: hidden;
}

.squers {
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  outline: 2px solid #000;
}

.grid div:last-child {
  grid-area: 3/3;
}

.navBar {
  margin-left: 35%;
}

.whoIsPlaying {
  margin-left: 48%;
}

.endGame h3 {
  margin-left: 48%;
}

.endGame button {
  margin-left: 46%;
  width: 200px;
  height: 35px;
  border: 1px solid black;
  padding: 0px;
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  color: white;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
  cursor: pointer;
}

hr {
  width: 550px;
  margin-left: 10px;
}

.history h3 {
  margin-left: 47%;
}

.games {
  margin-left: 43%;
}

input::placeholder {
  color: red;
  font-size: 20px;
  font-style: italic;
}